.expense-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px blue;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 12px;
    background-color: cornsilk;
}

.expense_item_desc{
    display: flex;
    flex-direction: column;
    gap: 50rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}

.expense_item_price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: turquoise;
    border: 1px solid white;
    border-radius: 12px;
}

@media(min-width:580px){
    .expense_item_desc{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }

}